@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Outfit", sans-serif;
  color: white;
  background-color: black;
}

h1 {
  font-size: 4rem;
  color: white;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
  color: #ebebeb;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/fohWorld.jpg");
  background-size: contain;

  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#bg_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#header {
  position: relative;
  width: 100%;
  height: 30rem;
  top: 0;
  display: inline-flex;
  justify-content: center;
}

#logo_main {
  position: relative;
  height: 100%;
  top: -5rem;
}

#content {
  top: -7.5rem;
  position: relative;
  height: 40vw;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#text {
  position: relative;
  margin-bottom: 10rem;
}

#call_to_action {
  position: relative;
  top: -2.5rem;
  width: 30rem;
  height: 8rem;
  background-color: black;
  border-radius: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px aliceblue;
}

#call_to_action:hover {
  transition: all 0.5s;
  background-color: rgb(89, 89, 89);
  border: solid 3px orange;
}

#call_to_action:active {
  transition: all 0.1s;
  background-color: orange;
}
